GCP_PROJECT=your-gcp-project-id
GCP_REGION=us-central1
IMAGE_NAME=aipa-code-server
SERVICE_NAME=aipa-code-server
PASSWORD=change-me
TRUSTED_ORIGINS=youruser.github.io,localhost:8888
# GIT_REPO_URL=https://github.com/org/repo.git
# GIT_REF=main
# GIT_TOKEN=ghp_...
